mat-card {
  margin: 30px;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-wrapper {
    width: 100%;
  }

  table {
    width: 100%;
    tr {
      transition: 0.3s;
    }
    tr:hover {
      cursor: pointer;
      background-color: rgb(128, 128, 128);
    }
  }

  .list-empty-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-bottom: 1px solid rgba(128,128,128);
  }
}
