<mat-card>
  <mat-card-content>
    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <mat-form-field class="search-wrapper" appearance="standard">
      <mat-label>Search for characters</mat-label>
      <input
        matInput
        (keyup)="applySearchFilter($event.target.value)"
        placeholder="Filter"
        [(ngModel)]="searchText"
      />
      <button
        *ngIf="searchText"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="applySearchFilter(''); searchText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <table mat-table [dataSource]="people" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
        <td mat-cell *matCellDef="let element">
          {{ element.gender }}
        </td>
      </ng-container>
      <ng-container matColumnDef="birthYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth year</th>
        <td mat-cell *matCellDef="let element">
          {{ element.birth_year }}
        </td>
      </ng-container>
      <ng-container matColumnDef="planetName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Planet</th>
        <td mat-cell *matCellDef="let element">
          {{ element.planet?.name }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDetails(row)"></tr>
    </table>
    <div *ngIf="!isLoadingResults && !resultsLength" class="list-empty-wrapper">
      <p>Your search did not match anything.</p>
    </div>
    <mat-paginator
      [hidePageSize]="!resultsLength || resultsLength < pageSize"
      [length]="resultsLength"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex">
    </mat-paginator>
  </mat-card-content>
</mat-card>
